<%- include('include/_frontsiteheader') %> 

<section class="hero-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-wrapper">
                    <h2 class="search-title">Access +800 fonts, colors & brushes</h2>
                    <p class="search-subtitle">Download free web font-optimal for web, ios, android and windows application.</p>
                    <form action="#">
                       <div class="search-input">
                           <span class="search-icons">
                            <i class="fas fa-search"></i>
                           </span>
                        <input type="search" name="search-engine" placeholder="Search for anything" id="search-engine">
                        <input type="submit" class="submit-engine-btn">
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<span class="a-letter">
    <img src="frontsite/img/alphabets/A.png" alt="A" class="a-img">
</span>
<span class="f-letter">
    <img src="frontsite/img/alphabets/F.png" alt="F" class="f-img">
</span>
<span class="e-letter">
    <img src="frontsite/img/alphabets/E.png" alt="E" class="e-img">
</span>
<span class="z-letter">
    <img src="frontsite/img/alphabets/Z.png" alt="Z" class="z-img">
</span>
<section class="three-tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
            <a href="/fonts" class="multi-cards-link">
                <div class="custom-cards">
                    <h4 class="custom-cards-title">Fonts</h4>
                    <div class="img-cards">
                        <img src="images/fontsatoz.png" alt="fonts" class="custom-cards-img">
                    </div>
                </div>
            </a>
            </div>
            <div class="col-lg-4">
                <a href="/colors" class="multi-cards-link">
                    <div class="custom-cards">
                        <h4 class="custom-cards-title">Colors</h4>
                        <div class="img-cards">
                            <img src="images/colors.png" alt="fonts" class="custom-cards-img">
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-lg-4">
                    <a href="/p-brushes" class="multi-cards-link">
                        <div class="custom-cards">
                            <h4 class="custom-cards-title">Photoshop Brushes</h4>
                            <div class="img-cards">
                                <img src="images/brushes.png" alt="fonts" class="custom-cards-img">
                            </div>
                        </div>
                    </a>
                    </div>
        </div>
    </div>
</section>
<section class="third-section">
    <div class="container">
        <div class="row algin-items-cemter">
            <div class="col-lg-6 col-12">
                <div class="leftside-contents">
                    <h3 class="section-title">Many fonts for any application.</h3>
                    <p class="section-par">+800 web font-optimal for web, iOS, Android and Windows application.</p>
                    <div class="section-btn">
                        <a href="#" class="see-more-btn">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <img src="frontsite/img/alphabets.png" alt="alphabets" class="alphabets_bg">
            </div>
        </div>
    </div>
</section>
<section class="fouth-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h3 class="section-title">Tools that help make your jobs more professional</h3>
                    <p class="section-par">Free accessories that allow you to organize, create and save time on your designs</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-12">
                <div class="site-tab">
                    <a class="tablinks active" onclick="siteCollection(event, 'fonts')">
                        <h4>Fonts</h4>
                        <p>Create multiple collections to have your icons organized and download them in the format you want. </p>
                    </a>
                    <a class="tablinks" onclick="siteCollection(event, 'colors')">
                        <h4>Colors</h4>
                        <p>Edit the color of your icons, fonts, background, SVG and etc. .</p>
                    </a>
                    <a class="tablinks" onclick="siteCollection(event, 'p_brushes')">
                        <h4>Photoshop Brushes</h4>
                        <p>Use the brushes for making wallpaper, edit the photos as you want in photoshop, quickly and free of charge.</p>
                    </a>
                  </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="site-collections">
                    <div id="fonts" class="tabcontent" style="display: block;">
                        <div class="all-categories-shows">
                            <img src="frontsite/img/fonts-collection.png" alt="Fonts-collection" class="poster-categories">
                        </div>
                      </div>
                      
                      <div id="colors" class="tabcontent">
                        <div class="all-categories-shows">
                            <img src="frontsite/img/colors-collection.png" alt="Colors-collection" class="poster-categories">
                        </div>
                      </div>
                      
                      <div id="p_brushes" class="tabcontent">
                        <div class="all-categories-shows">
                            <img src="frontsite/img/Brushes-collections.png" alt="Brushes-collection" class="poster-categories">
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
<span class="a1-letter">
    <img src="frontsite/img/numbers/No.1.png" alt="No 1" class="a1-img">
</span>
<div class="container">
        <section class="fifth-section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3 class="section-title bold">What’s New in OneSearches</h3>
                        <p class="section-par">See the latest website updates, new features, and tools, and get the most of your Flaticon experience.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4 col-12">
                    <a href="/fonts">
                        <div class="news-cards">
                            <img src="frontsite/img/fonts-cards.png" alt="fonts">
                            <h4 class="search-available-title">fonts</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-12">
                    <a href="/colors">
                        <div class="news-cards">
                            <img src="frontsite/img/colors-bg.png" alt="colors">
                            <h4 class="search-available-title">Colors</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-12">
                    <a href="/p-brushes">
                        <div class="news-cards">
                            <img src="frontsite/img/brushes.png" alt="brushes">
                            <h4 class="search-available-title">Shaded Photoshop Brushes</h4>
                        </div>
                    </a>
                </div>
            </div>
        </section>
</div>
<%- include('include/_frontsitefooter') %> 